@import "base.css";

/*==================== BLOG ====================*/
.wrapper-blog{  
  grid-template-columns: 300px 950px 300px;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px;
  max-width: 100%;
  margin-top: calc(var(--header-height) + 1.5rem);
}

@media (max-width:98.125rem) {
  .wrapper-blog {
    grid-template-columns: 300px 1fr;
    -webkit-box-pack: initial;
    justify-content: initial
  }
}

@media (max-width:64rem) {
  .wrapper-blog {
    grid-template-columns: 64px 1fr;
    overflow: hidden
  }
}

@media (max-width:48rem) {
  .wrapper-blog {
    grid-template-columns: 8px 1fr
  }
}

.sidebar_left {
  position: relative;
  z-index: 2
}

.sidebar_right {
  display: none
}

@media (min-width:98.1875rem) {
  .sidebar_right {
    display: block;
    margin-top: 167px
  }
}

.main_content{
  max-width: 950px;
  transition: transform 400ms ease 0s, opacity 650ms ease 0s;
  overflow: hidden
}

.wrapper_content{
  position: relative;
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 48px;
}

.article_cover {
  position: relative;
  margin: 0px;
  border: 3px solid white;
  border-radius: 16px 16px 0px 0px;
  overflow: hidden
}

.article_gradient {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 200px;
  mix-blend-mode: overlay;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.004) 8.1%, rgba(0, 0, 0, 0.016) 15.5%, rgba(0, 0, 0, 0.03) 22.5%, rgba(0, 0, 0, 0.055) 29%, rgba(0, 0, 0, 0.08) 35.3%, rgba(0, 0, 0, 0.11) 41.2%, rgba(0, 0, 0, 0.14) 47.1%, rgba(0, 0, 0, 0.17) 52.9%, rgba(0, 0, 0, 0.2) 58.8%, rgba(0, 0, 0, 0.23) 64.7%, rgba(0, 0, 0, 0.255) 71%, rgba(0, 0, 0, 0.28) 77.5%, rgba(0, 0, 0, 0.294) 84.5%, rgba(0, 0, 0, 0.306) 91.9%, rgba(0, 0, 0, 0.31) 100%)
}

.article_img{
  display: block;
  width: 100%;
  aspect-ratio: var(2/3, 934 / 475)
}

.article_headlines{
  position: absolute;
  left: 64px;
  right: 64px;
  bottom: calc(52px);
  max-width: 750px;
  margin: 0px auto
}

@media (max-width:48rem) {
  .article_headlines {
    left: 16px;
    right: 16px;
    bottom: 16px
  }
}

.article_title, .article_subtitle{
  color: var(--body-color);
}

.article_title{
  font-size: 1.5rem;
  font-weight: 300;
}

@media (max-width:35.1875rem) {
  .article_title {
    font-size: 1.25rem
  }
}

.article_subtitle{
  font-size: 2.5rem;
}

@media (max-width:35.1875rem) {
  .article_subtitle{
    font-size: 1.75rem
  }
}

p {
  text-rendering: optimizelegibility
}

p {
  margin-bottom: 1.5em;
  font-size: 1.125rem
}
.content_article{
  border-radius:0px 0px 8px 8px;
  border: none;
  --color-text: hsl(222deg, 22%, 5%);
  --color-background: hsl(0deg, 0%, 100%);
  --color-blurred-background: hsl(0deg 0% 100% / 0.75);
  --color-primary: hsl(245deg, 100%, 60%);
  --color-secondary: hsl(333deg, 100%, 45%);
  --color-tertiary: hsl(255deg, 85%, 30%);
  --color-decorative: hsl(200deg, 75%, 65%);
  --color-muted: hsl(210deg, 55%, 92%);
  --color-info: hsl(245deg, 100%, 60%);
  --color-error: hsl(340deg, 95%, 46%);
  --color-error-background: hsla(340deg, 95%, 43%, 0.1);
  --color-success: hsl(145deg, 100%, 27%);
  --color-success-background: hsla(145deg, 100%, 40%, 0.1);
  --color-warning: hsl(37deg, 100%, 50%);
  --color-warning-background: hsla(52deg, 100%, 50%, 0.25);
  --color-gray-100: hsl(225deg, 25%, 95%);
  --color-gray-200: hsl(225deg, 16%, 90%);
  --color-gray-300: hsl(225deg, 8%, 80%);
  --color-gray-400: hsl(225deg, 8%, 70%);
  --color-gray-500: hsl(225deg, 7%, 60%);
  --color-gray-600: hsl(225deg, 15%, 50%);
  --color-gray-700: hsl(225deg, 12%, 40%);
  --color-gray-800: hsl(225deg, 20%, 30%);
  --color-gray-900: hsl(225deg, 25%, 20%);
  --color-gray-1000: hsl(225deg, 15%, 15%);
  --code-background-color: hsla(0, 0%, 18%, 1);

  background: var(--color-background);
  color: var(--color-text)
}

.grid_article {
  padding: 64px;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 1fr min(750px, 100%) 1fr;
  overflow: hidden
}

.grid_article>:first-child {
  margin-top: 0px
}

.grid_article>:last-child {
  margin-bottom: 0px
}

@media (min-width:64.0625rem) {
  .grid_article {
    max-width: calc((100vw - 16px) - 300px)
  }
}

@media (max-width:64rem) {
  .grid_article {
    max-width: calc((100vw - 16px) - 64px)
  }
}

@media (max-width:48rem) {
  .grid_article {
    padding: 16px;
    max-width: calc(100vw - 16px)
  }
}

.grid_article>* {
  grid-column: 2 / auto
}

code {
  position: relative;
  display: inline;
  font-family: var(--body-font);
  font-size: 0.9em;
  letter-spacing: -0.5px;
  padding: 3px 6px;
  margin: 1px -1px;
  border-radius: 3px;
  background: var(--code-background-color);  
  color: var(--color-gray-100);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.enfasis_em {  
  letter-spacing: -0.25px;
  color: var(--color-secondary);  
  font-weight: bold;
}


.IpTVp {
  padding: 28px 32px 32px;
  margin-left: -32px;
  margin-right: -32px;
  max-width: min(100% + 64px, 814px)
}

@media (max-width:48rem) {
  .IpTVp {
    padding: 16px;
    margin-left: -16px;
    margin-right: -16px;
    max-width: calc(100% + 32px)
  }
}

.IpTVp>:last-child {
  margin-bottom: 0px !important
}

.fqLLfc {
  font-family: var(--body-font);
  font-size: 14px;
  overflow: auto;
  background: var(--syntax-bg);
  border-radius: 8px;
  --selection-text-color: black;
  --selection-background-color: hsl(210deg 13% 80% / 0.85)
}

@media (max-width:48rem) {
  .fqLLfc {
    border-radius: 0px
  }
}

.fqLLfc>div {
  overflow: visible !important
}

.Aside__InfoAside-nhl37o-1 .Aside__IconWrapper-nhl37o-5 {
  color: var(--color-info)
}

.bnRuYA {
  padding: 28px 32px 32px;
  margin-left: -32px;
  margin-right: -32px
}

@media (max-width:48rem) {
  .bnRuYA {
    padding: 16px;
    margin-left: -16px;
    margin-right: -16px;
    max-width: calc(100% + 32px)
  }
}

.bnRuYA>:last-child {
  margin-bottom: 0px !important
}


.cAXqSm {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
  border-left: 3px solid;
  border-radius: 6px 6px 6px 3px
}

.cAXqSm p {
  margin-bottom: 1em
}

@media (max-width:48rem) {
  .cAXqSm {
    border-radius: 0px
  }
}

.iOVTZG {
  background: var(--color-muted);
  border-color: var(--color-info);
  --syntax-bg: hsl(210deg, 30%, 85%)
}

.WWVhl {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);
  padding: 8px;
  background: var(--color-background);
  border-radius: 50%
}

@media (max-width:48rem) {
  .WWVhl {
    display: none
  }
}

.WWVhl svg {
  display: block
}

 .eeflGT {
    display: block;
    font-size: 1.125rem;
    margin-bottom: 1em;
    font-weight: var(--font-semi-bold)
  }

  .jxajTe {
    color: var(--color-primary);
    font-weight: var(--font-weight-medium);
    text-decoration: none;
    box-shadow: 0px 0px 0px var(--color-primary);
    transition: box-shadow 100ms ease 0s
  }

  .jxajTe:hover {
    box-shadow: 0px 2px 0px var(--color-primary)
  }

  .jxajTe:focus {
    outline: 2px auto var(--color-primary);
    outline-offset: 2px
  }

  .jxajTe:focus:not(:focus-visible) {
    outline: none
  }